<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.samples"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>


    <application android:label="@string/app_name" android:icon="@drawable/icon">

        <activity android:name="com.example.samples.MyActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Progress Updater Example -->
        <activity android:name=".progressupdater.ProgressUpdaterActivity"
                  android:label="ProgressUpdaterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.NAMH_SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- Progress View Example -->
        <activity android:name=".progressui.ProgressViewActivity"
                  android:label="ProgressViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.NAMH_SAMPLE_CODE" />
            </intent-filter>

        </activity>

        <!-- View Pager Example -->
        <activity android:name=".viewpager.ViewPagerActivity"
                  android:label="ViewPagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.NAMH_SAMPLE_CODE" />
            </intent-filter>

        </activity>

        <!-- MMini Example -->
        <activity android:name=".mbcmini.MMiniWriteActivity"
                  android:label="MMiniWriteActivity"
                android:theme="@style/MMiniTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.NAMH_SAMPLE_CODE" />
            </intent-filter>

        </activity>

        <!-- AutoLoadingListView Example -->
        <activity android:name=".onloadinglist.AutoLoadingListViewActivity"
                  android:label="AutoLoadingListView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.NAMH_SAMPLE_CODE" />
            </intent-filter>

        </activity>

        <!-- CloseDialogAfterLoginActivity Example -->
        <activity android:name=".logindialog.CloseDialogAfterLoginActivity"
                  android:label="CloseDialogAfterLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.NAMH_SAMPLE_CODE" />
            </intent-filter>

        </activity>


        <!-- DatabaseProvider -->
        <provider
                android:name=".contentprovider.DatabaseProvider"
                android:authorities="com.contentprovider"
                android:exported="false"
                android:grantUriPermissions="true"
                android:label="NoteDatabaseProvider"
                android:readPermission="com.grabeco.READ"
                android:writePermission="com.grabeco.WRITE" />

    </application>
</manifest>